*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin-top: 40px;
    margin-left: 25%;
    display: flex;
    flex-direction: column; 
    width: 800px;
}

.buttons{
    margin-top: 30px;
    display: flex;
    height: 40px;
    width: 100%;
    display: inline-flex; 
    margin-bottom: 10px;
    justify-content: center;
}

.button{
    color:white;
    font-size: 20px;
    background-color: red;
    height: 40px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}

.button:hover{
    cursor:pointer;
}

.start{
    width: 200px;
}

.stopB{
    width: 130px;
}

.save{
    width: 120px;
}

.result{
    width: 100px;
}

.field{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.lines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 10px;
}

.line{
    display: inline-flex; 
    justify-content: center;
}

.cell{
    margin-left:0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:50px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.cell:hover{
    cursor:pointer; 
}

.textValue{
    display:inline-flex;
    justify-content: center;
}

.moves{
    margin-top: 10px;
    margin-bottom: 10px;
}

.time{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.blockSize{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.blockSize p{
    margin-left: 5px;
}

.blockSize p:not(:first-child){
    color: blue;
    border-bottom: 1px solid blue;
}

.blockSize p:not(:first-child):hover{
    cursor: pointer;
}

.top{
    margin-bottom: 100px;
}

.left{
    margin-left: 100px;
}

.lines4{
    width:50%;
    margin-left:25%;
}

.lines3 {
    width: 38%;
    margin-left: 31%;
}

.lines5 {
    width: 62%;
    margin-left: 18%;
}

.lines6 {
    width: 75%;
    margin-left: 12%;
}

.lines7 {
    width: 87%;
    margin-left: 5.35%;
}

.border{
    border:1px solid transparent;
}

.win{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 17px;
    width: 400px;
    height: 126px;
    border: 2px solid black;
    background-color: antiquewhite;
    top: 46%;
    left: 38%;
}

.hide{
    display:none;
}